body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;
}

html {
  background: url("../img/earth_bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
    color: white;
    text-align: center;
}